<p style="color: green"><%= notice %></p>

<%= render @admin_user %>

<div>
  <ul>
    <li><%= @admin_user.first_name %></li>
    <li><%= @admin_user.last_name %></li>
    <li><%= @admin_user.email %></li>
  </ul>
  
  <%= link_to "Edit this user", edit_admin_user_path(@admin_user) %> |
  <%= link_to "Back to users", admin_users_path %>

  <%= button_to "Destroy this user", admin_user_path(@admin_user.id), method: :delete %>
</div>
